<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ClientWeb</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<div class="container-fluid text-white bg-dark min-vh-100 pt-3">
  <nav class="nav nav-pills nav-fill">
    <button class="btn btn-outline-light " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      NomDeNotreSolution
    </button>
  </nav>

  <div class="row">
    <div class="row">
      <div class="scrolling-title text-center mb-4 text-white">
        <h1 class="scrolling-text">Innovative memory for virtual assistances</h1>
      </div>
    </div>
    <div class="row text-white justify-content-md-center  ">

      <div class="col-2">

      </div>
      <div class="col-8 shadow-lg overflow-auto justify-content-center">
        <p>{{question}} </p>
      </div>
      <div class="col-2">

      </div>
    </div>
  </div>
  <div class="rounded-5 bg-light container w-75 d-flex align-items-center mt-5">
    <div class="d-flex w-100 align-items-center gap-3 px-3"> <!-- Ajout d'un conteneur flex -->
      <textarea class="auto-textarea flex-grow-1" [(ngModel)]="question" placeholder="Écrivez votre message ici..."></textarea>
      <div class="input-icons d-flex gap-2 "> <!-- Ajout de gap entre les boutons -->
        <input class="icon-button btn btn-secondary bi-paperclip" type="file" (click)="onFileselected($event)" title="Joindre un fichier">
          <i class="bi bi-paperclip fs-6"></i>
        <button class="icon-button" title="Joindre une image">
          <i class="bi bi-image fs-6"></i>
        </button>
        <button class="icon-button">
          <i class="bi bi-send fs-6" (click)="uploadFile()" title="Submit"></i>
        </button>
        <button class="icon-button" (click)="chatComponent()">
          <i class="bi bi-search fs-6"  title="Submit"></i>
        </button>
      </div>
    </div>
  </div>


  <!-- Pour le menu laterale -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Generateur De Resume</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet>

</router-outlet>
</body>
</html>













<!--&lt;!&ndash;<router-outlet>&ndash;&gt;-->

<!--&lt;!&ndash;</router-outlet>&ndash;&gt;-->
