@import "bootstrap-icons/font/bootstrap-icons.min.css";

body {
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

.main-title {
  padding: 2rem 0;
  text-align: center;
}

.list-group-item-info{
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

@keyframes scroll-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.scrolling-title {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.scrolling-text {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
}
.overflow-auto {
  overflow-x: hidden;  /* Cache le défilement horizontal */
  overflow-y: visible;    /* Garde le défilement vertical si nécessaire */
  word-wrap: break-word;
  white-space: normal;
}

.auto-textarea {
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}
    /* ajoute une barre de défilement si nécessaire */

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  font-size: 30px;
}
.bi{
  font-weight: bold;
  font-size: 60px;

}

.icon-button:hover {
  color: #0d6efd; /* Couleur de survol Bootstrap primary */
}

.container{
  height: 200px;
}

.custom-file-upload {
  cursor: pointer;
  display: inline-block;
}




